#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

ol {
    text-align: start;
}

fieldset {
    border-style: none;
    padding: 0;
}

.label-auth {
    display: inline-block;
    min-width: 60px;
}

fieldset > input {
    display: inline-block;
    min-width: 255px;
}

fieldset > button {
    margin-left: 10px;
}

.section-divider {
    border: none;
    height: 5px;
    background: #2c3e50;
}

.img-wrapper > :not(:first-child) {
    margin-left: 20px;
}

.img-wrapper > img {
    height: 60px
}

.message-error {
    background: orange;
}
